footer {
    background-color: #222;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

footer span{
    font-size: 0.8em;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}